tutorial.json
[{"id":"1226ce1a.1f30d2","type":"tab","label":"Smart Home","disabled":false,"info":"MQTT integrations with Google Home and Alexa"},{"id":"cfe8031a.25ed7","type":"nora-thermostat","z":"1226ce1a.1f30d2","devicename":"Sensor Hub (Thermostat)","roomhint":"","name":"","modes":"off,heat,cool","unit":"C","topic":"","passthru":false,"commandOnly":false,"queryOnly":false,"bufferRangeCelsius":2,"nora":"b1c3ae9d.0ffe1","x":610,"y":560,"wires":[["2b921f63.e79cd"]]},{"id":"3fc097c4.dca788","type":"function","z":"1226ce1a.1f30d2","name":"setpoint","func":"var jsonPayload = JSON.parse(msg.payload);\nvar setpoint = jsonPayload.Present_Value;\n\nreturn {\"payload\": {\"setpoint\": setpoint}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":480,"wires":[["cfe8031a.25ed7"]]},{"id":"7602510c.df794","type":"mqtt in","z":"1226ce1a.1f30d2","name":"tempSetPoint","topic":"events/object/tempSetPoint","qos":"0","datatype":"auto","broker":"d8b04885.f60418","x":110,"y":480,"wires":[["3fc097c4.dca788"]]},{"id":"396cace2.2330f4","type":"mqtt in","z":"1226ce1a.1f30d2","name":"occupantTemperature","topic":"events/object/occupantTemperature","qos":"0","datatype":"auto","broker":"d8b04885.f60418","x":140,"y":560,"wires":[["a37769d8.8fefa8","212cce19.d64f32"]]},{"id":"a37769d8.8fefa8","type":"function","z":"1226ce1a.1f30d2","name":"temperature","func":"var jsonPayload = JSON.parse(msg.payload);\nvar temperature = jsonPayload.Present_Value;\n\nreturn {\"payload\": {\"temperature\": temperature}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":560,"wires":[["cfe8031a.25ed7"]]},{"id":"2b921f63.e79cd","type":"function","z":"1226ce1a.1f30d2","name":"setpoint","func":"var jsonPayload = JSON.parse(msg.payload.setpoint);\n\nreturn {\"payload\": {\"Present_Value\": jsonPayload, \"Units\": \"\", \"updated\":  \"26-06-2020 01:15:23.73\", \"status\": 0}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":560,"wires":[["d7be50c.3033ab"]]},{"id":"d7be50c.3033ab","type":"mqtt out","z":"1226ce1a.1f30d2","name":"tempSetPoint","topic":"events/object/tempSetPoint","qos":"0","retain":"true","broker":"d8b04885.f60418","x":1040,"y":560,"wires":[]},{"id":"528412e9.8973cc","type":"comment","z":"1226ce1a.1f30d2","name":"google home","info":"","x":110,"y":420,"wires":[]},{"id":"7fd37440.d9851c","type":"comment","z":"1226ce1a.1f30d2","name":"alexa","info":"","x":90,"y":860,"wires":[]},{"id":"212cce19.d64f32","type":"function","z":"1226ce1a.1f30d2","name":"temperature","func":"var jsonPayload = JSON.parse(msg.payload);\nvar temperature = Number(jsonPayload.Present_Value);\n\nreturn { \"acknowledge\" : true, \"payload\" : { \"state\" : { \"temperature\" : temperature } } };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":350,"y":920,"wires":[["4a23cb01.b1c6f4"]]},{"id":"eb72956b.2e8de8","type":"comment","z":"1226ce1a.1f30d2","name":"todo","info":" - test automation (ex: turn on light when enter room)","x":90,"y":1380,"wires":[]},{"id":"4a23cb01.b1c6f4","type":"alexa-smart-home-v3-state","z":"1226ce1a.1f30d2","conf":"7f47e18f.5c9a","device":"16220","name":"","x":620,"y":920,"wires":[]},{"id":"d517f6e8.b8d878","type":"mqtt in","z":"1226ce1a.1f30d2","name":"combinedOccupancy","topic":"events/object/combinedOccupancy","qos":"0","datatype":"auto","broker":"d8b04885.f60418","x":140,"y":1000,"wires":[["9cba1007.800a7"]]},{"id":"9cba1007.800a7","type":"function","z":"1226ce1a.1f30d2","name":"motion","func":"var jsonPayload = JSON.parse(msg.payload);\nvar combinedOccupancy = jsonPayload.Present_Value;\n\nif (combinedOccupancy === 0) {\n    return { \"acknowledge\" : true, \"payload\" : { \"state\" : { \"motion\" : \"NOT_DETECTED\" } } };\n} else {\n    return { \"acknowledge\" : true, \"payload\" : { \"state\" : { \"motion\" : \"DETECTED\" } } };\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":1000,"wires":[["b19e5df0.b5a17"]]},{"id":"b19e5df0.b5a17","type":"alexa-smart-home-v3-state","z":"1226ce1a.1f30d2","conf":"7f47e18f.5c9a","device":"16221","name":"","x":620,"y":1000,"wires":[]},{"id":"a7943f15.b9347","type":"inject","z":"1226ce1a.1f30d2","name":"mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"cool\"}","payloadType":"json","x":370,"y":700,"wires":[["cfe8031a.25ed7"]]},{"id":"e040a7ec.b55b98","type":"mqtt in","z":"1226ce1a.1f30d2","name":"occupantTemperature","topic":"events/object/occupantTemperature","qos":"0","datatype":"auto","broker":"d8b04885.f60418","x":180,"y":200,"wires":[["e755cf41.1b93"]]},{"id":"e755cf41.1b93","type":"debug","z":"1226ce1a.1f30d2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":410,"y":200,"wires":[]},{"id":"85736f05.4694c","type":"mqtt out","z":"1226ce1a.1f30d2","name":"lightringPattern","topic":"commands/object/lightringPattern","qos":"0","retain":"","broker":"d8b04885.f60418","x":400,"y":260,"wires":[]},{"id":"ea97d111.77e8f","type":"inject","z":"1226ce1a.1f30d2","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":\"2\"}","payloadType":"json","x":150,"y":260,"wires":[["85736f05.4694c"]]},{"id":"7e6c0d0.fcab4f4","type":"comment","z":"1226ce1a.1f30d2","name":"tutorial","info":"","x":130,"y":120,"wires":[]},{"id":"ec1d6802.ec0188","type":"function","z":"1226ce1a.1f30d2","name":"humidity","func":"var jsonPayload = JSON.parse(msg.payload);\nvar humidity = jsonPayload.Present_Value;\n\nreturn {\"payload\": {\"humidity\": humidity}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":640,"wires":[["cfe8031a.25ed7"]]},{"id":"5cb8f36f.29a3fc","type":"mqtt in","z":"1226ce1a.1f30d2","name":"occupantHumidity","topic":"events/object/occupantHumidity","qos":"0","datatype":"auto","broker":"d8b04885.f60418","x":130,"y":640,"wires":[["ec1d6802.ec0188"]]},{"id":"b1c3ae9d.0ffe1","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"d8b04885.f60418","type":"mqtt-broker","z":"","name":"Internal Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7f47e18f.5c9a","type":"alexa-smart-home-v3-conf","z":"","username":"","mqttserver":"mq-red.cb-net.co.uk","webapiurl":"red.cb-net.co.uk","contextName":"memory"}]