tutorial.json
[{"id":"8bbf549f.ad5948","type":"tab","label":"Smart Home","disabled":false,"info":"MQTT integrations with Google Home and Alexa"},{"id":"269b5c09.370254","type":"nora-thermostat","z":"8bbf549f.ad5948","devicename":"Sensor Hub (Thermostat)","roomhint":"","name":"","modes":"off,heat,cool","unit":"C","topic":"","passthru":false,"commandOnly":false,"queryOnly":false,"bufferRangeCelsius":2,"nora":"b1c3ae9d.0ffe1","x":610,"y":560,"wires":[["a00f77a0.5ccf48"]]},{"id":"b2cb7440.2b88e8","type":"function","z":"8bbf549f.ad5948","name":"setpoint","func":"var jsonPayload = JSON.parse(msg.payload);\nvar setpoint = jsonPayload.Present_Value;\n\nreturn {\"payload\": {\"setpoint\": setpoint}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":480,"wires":[["269b5c09.370254"]]},{"id":"d914e49a.aff868","type":"mqtt in","z":"8bbf549f.ad5948","name":"tempSetPoint","topic":"events/object/tempSetPoint","qos":"0","datatype":"auto","broker":"d8b04885.f60418","x":110,"y":480,"wires":[["b2cb7440.2b88e8"]]},{"id":"49518a45.d30ce4","type":"mqtt in","z":"8bbf549f.ad5948","name":"rawTemperature","topic":"events/object/rawTemperature","qos":"0","datatype":"auto","broker":"d8b04885.f60418","x":120,"y":560,"wires":[["61dfc5e3.d3e64c","4459467f.e6c2d8"]]},{"id":"61dfc5e3.d3e64c","type":"function","z":"8bbf549f.ad5948","name":"temperature","func":"var jsonPayload = JSON.parse(msg.payload);\nvar temperature = jsonPayload.Present_Value;\n\nreturn {\"payload\": {\"temperature\": temperature}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":560,"wires":[["269b5c09.370254"]]},{"id":"beabd12c.8c69d","type":"mqtt in","z":"8bbf549f.ad5948","name":"occupantHumidity","topic":"events/object/occupantHumidity","qos":"0","datatype":"auto","broker":"d8b04885.f60418","x":130,"y":640,"wires":[["d15afe1c.8baf8"]]},{"id":"d15afe1c.8baf8","type":"function","z":"8bbf549f.ad5948","name":"humidity","func":"var jsonPayload = JSON.parse(msg.payload);\nvar humidity = jsonPayload.Present_Value;\n\nreturn {\"payload\": {\"humidity\": humidity}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":640,"wires":[["269b5c09.370254"]]},{"id":"a00f77a0.5ccf48","type":"function","z":"8bbf549f.ad5948","name":"setpoint","func":"var jsonPayload = JSON.parse(msg.payload.setpoint);\n\nreturn {\"payload\": {\"Present_Value\": jsonPayload, \"Units\": \"\", \"updated\":  \"26-06-2020 01:15:23.73\", \"status\": 0}};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":560,"wires":[["b5847589.ee0498"]]},{"id":"b5847589.ee0498","type":"mqtt out","z":"8bbf549f.ad5948","name":"tempSetPoint","topic":"events/object/tempSetPoint","qos":"0","retain":"true","broker":"d8b04885.f60418","x":1040,"y":560,"wires":[]},{"id":"10fe120b.d937ce","type":"comment","z":"8bbf549f.ad5948","name":"google home","info":"","x":110,"y":420,"wires":[]},{"id":"6b32e79d.267258","type":"comment","z":"8bbf549f.ad5948","name":"alexa","info":"","x":90,"y":860,"wires":[]},{"id":"4459467f.e6c2d8","type":"function","z":"8bbf549f.ad5948","name":"temperature","func":"var jsonPayload = JSON.parse(msg.payload);\nvar temperature = Number(jsonPayload.Present_Value);\n\nreturn { \"acknowledge\" : true, \"payload\" : { \"state\" : { \"temperature\" : temperature } } };","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":920,"wires":[["61a1fbf3.e222b4"]]},{"id":"dc5913e6.88f23","type":"comment","z":"8bbf549f.ad5948","name":"todo","info":" - test automation (ex: turn on light when enter room)","x":90,"y":1380,"wires":[]},{"id":"61a1fbf3.e222b4","type":"alexa-smart-home-v3-state","z":"8bbf549f.ad5948","conf":"7f47e18f.5c9a","device":"16220","name":"Sensor Hub (Temperature)","x":620,"y":920,"wires":[]},{"id":"a6f5b236.7313d","type":"mqtt in","z":"8bbf549f.ad5948","name":"combinedOccupancy","topic":"events/object/combinedOccupancy","qos":"0","datatype":"auto","broker":"d8b04885.f60418","x":140,"y":1000,"wires":[["54716b26.f61154"]]},{"id":"54716b26.f61154","type":"function","z":"8bbf549f.ad5948","name":"motion","func":"var jsonPayload = JSON.parse(msg.payload);\nvar combinedOccupancy = jsonPayload.Present_Value;\n\nif (combinedOccupancy === 0) {\n    return { \"acknowledge\" : true, \"payload\" : { \"state\" : { \"motion\" : \"NOT_DETECTED\" } } };\n} else {\n    return { \"acknowledge\" : true, \"payload\" : { \"state\" : { \"motion\" : \"DETECTED\" } } };\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":310,"y":1000,"wires":[["532a5944.0ac7a8"]]},{"id":"532a5944.0ac7a8","type":"alexa-smart-home-v3-state","z":"8bbf549f.ad5948","conf":"7f47e18f.5c9a","device":"16221","name":"Sensor Hub (Motion)","x":600,"y":1000,"wires":[]},{"id":"c7907581.cef838","type":"inject","z":"8bbf549f.ad5948","name":"mode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"{\"mode\":\"cool\"}","payloadType":"json","x":350,"y":700,"wires":[["269b5c09.370254"]]},{"id":"f4e27ec0.bb4e5","type":"mqtt in","z":"8bbf549f.ad5948","name":"rawTemperature","topic":"events/object/rawTemperature","qos":"0","datatype":"auto","broker":"d8b04885.f60418","x":120,"y":200,"wires":[["170dfa41.c93b76"]]},{"id":"170dfa41.c93b76","type":"debug","z":"8bbf549f.ad5948","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":200,"wires":[]},{"id":"e901b452.a7ab98","type":"mqtt out","z":"8bbf549f.ad5948","name":"lightringPattern","topic":"commands/object/lightringPattern","qos":"0","retain":"","broker":"d8b04885.f60418","x":360,"y":260,"wires":[]},{"id":"e204be38.2f196","type":"inject","z":"8bbf549f.ad5948","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"data\":\"2\"}","payloadType":"json","x":110,"y":260,"wires":[["e901b452.a7ab98"]]},{"id":"ce9db58b.62d6f8","type":"comment","z":"8bbf549f.ad5948","name":"tutorial","info":"","x":90,"y":140,"wires":[]},{"id":"b1c3ae9d.0ffe1","type":"nora-config","z":"","name":"nora config","group":"","notify":false},{"id":"d8b04885.f60418","type":"mqtt-broker","z":"","name":"Internal Broker","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7f47e18f.5c9a","type":"alexa-smart-home-v3-conf","z":"","username":"","mqttserver":"mq-red.cb-net.co.uk","webapiurl":"red.cb-net.co.uk","contextName":"memory"}]